@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap");
@import url("./assets/styles/grid.css");
@import url("./assets/styles/hamburgers.css");
:root {
  --color-primary: #f00;
  --color-secondary: #333;
  --color-accent: #007acc;
  --color-background: #fff;
  --color-text: #fff;
  --black: #000;
}
* {
  transition: all 0.3s ease-out;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}
#bg-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
h1 {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0 0 0.5rem;
  line-height: 1.5rem;
  h3 {
    margin: 0;
  }
  span {
    color: #bbb;
  }
}
#main-header {
  text-transform: uppercase;
  padding: 1.5rem 0;
}
#top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--black), transparent);
}
#logo {
  font-size: 2rem;
  span {
    color: var(--color-primary);
  }
}
#logo span {
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
#logo span:first-child {
  background-image: linear-gradient(
    to left,
    var(--color-primary) 50%,
    var(--color-text) 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
}
#logo span:nth-child(2) {
  background-image: linear-gradient(
    to left,
    var(--color-text) 50%,
    var(--color-primary) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
}
#logo:hover span {
  background-position: 0;
}
#content {
  min-height: 20rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
img.border {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.box {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
}
.about-fade {
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}
.grid-container {
  padding-inline: 0 !important;
}
/* NAV */
#primary-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  #inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
    margin: 0;
  }
  a {
    position: relative;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    background-image: linear-gradient(
      to top,
      var(--color-text) 50%,
      var(--color-primary) 50%
    );
    background-size: 100% 200%;
    background-position: 0 100%;

    &:hover {
      background-position: 0 0;
      /*color: var(--color-primary);*/
    }
  }
}
#nav-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0;
  display: none;
  z-index: 1000;
}
#main-footer {
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.8rem;
}
a:link,
a:visited {
  color: var(--color-text);
  text-decoration: none;
}
#highlight {
  transition: all 0.4s ease-out;
  background-color: var(--color-primary);
  height: 0.1rem;
  margin-top: 1.5rem;
  width: 1.25rem;
  position: absolute;
}
body #highlight {
  width: 0;
  right: 0;
}
body#about #highlight {
  width: 54px;
  right: 462px;
}
body#portfolio #highlight {
  width: 87px;
  right: 325px;
}
body#illustration #highlight {
  width: 108px;
  right: 166px;
}
body#photography #highlight {
  width: 117px;
  right: 0;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* LightGallery */
.lg-react-element:hover a {
  filter: brightness(0.2);
  opacity: 0.8;
}
.lg-react-element a {
  transition: all 0.5s ease-out;
}
.lg-react-element a:hover {
  filter: brightness(1);
  opacity: 1;
}
.lg-react-element {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.lg-on main {
  filter: blur(10px);
}
.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
/*** Portfolio ***/
#work a {
  transition: all 0.5s ease-out;
}
#work-thumbs:hover a {
  /*filter: blur(4px);*/
  opacity: 0.2;
}
#work-thumbs a:hover {
  filter: blur(0);
  opacity: 1;
}
#project-meta {
  opacity: 0;
  margin: 2rem 0;
  p {
    margin: 0;
  }
  table {
    th,
    td {
      font-size: 1rem;
      text-align: left;
    }
    th {
      padding-right: 1rem;
    }
  }
}
#project-images > figure {
  opacity: 0;
  margin-bottom: 1rem;
}

/* FOOTER */
#social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

  a {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
#social-links img {
  height: 44px;
}
@media (max-width: 767px) {
  #primary-nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    background-color: var(--black);
  }
  #primary-nav ul {
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }
  #primary-nav li {
    display: block;
  }
  body.nav-open #primary-nav {
    grid-template-rows: 1fr;
  }
  body.nav-open {
    overflow: hidden;
  }
  #inner {
    position: relative;
    overflow: hidden;
  }
  #nav-toggle {
    display: block;
  }
  #main-footer * {
    text-align: center;
  }
  #social-links {
    justify-content: center;
  }
}
